*{
    font-family: "Open Sans", Helvetica, Arial !important;
}
#main-container{
    width:250px;
}
.grey{
    background-color: rgb(67,72,76);
}
.green{
    color: rgb(141,198,64);
}
.white{
    color:white;
}
h1,h2,h3,h4,h5,h6{
    margin:0 auto;
    padding:10px 0;
}
tbody{
    font-weight: 300;
}
a:focus, a:hover{
    color: rgb(141,198,64);
    outline: none;
    text-decoration: none;
}
h4 a{
    display: block;
    padding: 5px 0;
    margin: 0 px 10px;
}
h4 a:hover{
    border-radius: 2px;
    background: #5E5E5E;
}
.panel-collapse{
    width: 90%;
    margin-left: 5%;
}
td{
    border-color: #707070;
    width: 250px;
}
.table_label {
  padding-left: 3px;
}
.no-top-border {
  border: none!important;
  padding-top: 0px!important;
}
#main-container-pop{
    width:300px;
}
#main-container-pop td{
    width:300px;
}
#table_popup {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#table_popup .bottompop {
  padding-bottom: 0px;
}
#table_popup .bottompop2 {
  padding-bottom: 5px;
}
#table_popup .leftpop {
  text-align: left;
  padding-left: 50px;
}
.settings_padding {
  padding-left: 25px!important;
}
